<h1 style="font-family:'Great Vibes'; font-size:11rem; text-align:center; margin-top:10vh">Memorizit</h1>
<div class="menu-home" style="text-align:center; margin-top:3vh">
	<ul style="list-style:none">
		<li>
			<a class="button button-primary button-fixed-width" href="/question/add">Add Question</a>
		</li>
		<li>
			<a class="button button-primary button-fixed-width" href="/Memorize">Memorize</a>
		</li>
		<li>
			<a class="button button-primary button-fixed-width" href="/ListQuestion">List of questions</a>
		</li>
		<li>
			<a class="button button-primary button-fixed-width" href="#">My status</a>
		</li>
	</ul>
</div>