<form style="margin:35px; text-align:center">
	<h1>Add a question</h1>
	<div class="menu-home" style="margin-top:6vh">
		<ul style="list-style:none">
			<li>
				<a class="button button-primary button-fixed-width" href="/question/add/multiple">Multiple</a>
			</li>
			<li>
				<a class="button button-primary button-fixed-width" href="/trueorfalse">True or False</a>
			</li>
			<li>
				<a class="button button-primary button-fixed-width" href="/discurssive">Discurssive</a>
			</li>
		</ul>
	</div>
	<a href="/memorizit">Back to Menu</a>
</form>